body {
 background:linear-gradient(45deg, #fdb927 0%,
 darken(#fdb927,50%),#ce1141 100%);
  background-size: 200% 200%;  
  height: 100%;
  width: 100%;
  animation: background 30s ease infinite;
  background-repeat: none;
}

@keyframes background { 
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
  }

  html{
      color: white;
  }



